.roundImg {
    border-radius: 50%;
}

#profile {
    padding: 75px 0;
}

.profileContent {
    margin-left: 50px;
}

.profileContent h1 {
    font-weight: bold;
}

.profileContent img {
    margin-right: 15px;
}

.profilePicture {
    background: var(--card-color);
    border: 5px solid var(--card-color);
    box-shadow: 0px 0px 30px 0px rgba(61, 141, 227, .15);
}