.roundImg {
    border-radius: 50%;
}

#profile {
    padding: 75px 0;
}

.profileContent {
    margin-left: 50px;
}

.profileContent h1 {
    font-weight: bold;
}

.profileContent img {
    margin-right: 15px;
}

.card {
    background-color: var(--card-color);
    border-radius: 10px;
    width: calc(50% - 50px);
}

@media screen and (max-width: 1200px) {
    .card {
        width: 100%;
        gap: 25px;
    }
}