.footer {
    background-color: var(--color-background-soft);
    height: 150px;
}

.footer h1 {
    font-family: "Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
}

.footer a {
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.footer a:hover {
    color: var(--color-selected);
}

@media screen and (max-width: 1200px) {
    .notImportant {
        display: none;
    }
}