@font-face {
    font-family: "Ginto Nord";
    src: url('../lib/fonts/GintoNord-Black.ttf');
    font-weight: bold;
    font-display: swap;
}

:root {
    --color-text: #FFFFFF;
    --color-text-soft: rgba(255, 255, 255, 0.5);
    --color-text-dark: #000000;
    --color-watermark: rgba(255, 255, 255, 0.05);
    --color-background: #26272F;
    --color-background-soft: #32343D;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-selected: #FFCA21;
    --color-background-blur: rgba(255, 255, 255, 0.1)
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;

    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    background: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden;
    line-height: 1.6;
    font-size: 1rem;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-selected) var(--color-background);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-selected);
    border-radius: 20px;
    border: 2px solid var(--color-background);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.page-content {
    min-height: calc(100vh - 225px);
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
}

.page-title {
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
}

.page-title p {
    width: 50%;
}

.watermark {
    color: var(--color-watermark);
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    top: -80%;
    left: -8%;
}