#hero {
  min-height: 100vh;
  background: radial-gradient(circle at 50% -500px,
      rgba(60, 141, 227, 0.5) 0%,
      var(--bg-color) 50%);
  margin-top: -50px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.heroContent {
  margin: auto;
}

.heroContent h2 {
  font-size: 4rem;
  margin: 0 auto;
  max-width: 1000px;
}

.heroContent p {
  font-size: 1.3rem;
  width: 50%;
  margin: 25px auto;
  color: rgba(245, 245, 245, 0.7);
}

#statistics {
  margin-top: 10px;
}

.stat {
  margin: 10px 10px;
  border-radius: 15px;
  width: 300px;
}

#statistics header svg {
  color: rgba(245, 245, 245, 0.87);
  height: 70px;
  margin-bottom: 25px;
}

.countNumber {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.statName {
  font-size: 1.4rem;
  color: rgba(245, 245, 245, 0.7);
}

#vote {
  margin-top: 100px;
  margin-bottom: 150px;
  color: var(--text-color);
}

.headerIcon {
  height: 75px;
  margin-bottom: 20px;
}

.voteBtns a {
  margin: 30px 15px 0px 15px;
}

#features {
  max-width: 1200px;
}

.featureRow {
  margin: 50px 0;
  max-height: 400px;
}

.featureRow:nth-child(odd) {
  margin-right: auto;
  flex-direction: row;
  text-align: right;
}

.featureRow:nth-child(even) {
  margin-left: auto;
  flex-direction: row-reverse;
}

.featureImg img {
  height: 400px;
  width: auto;
}

.featureText {
  max-width: 40%;
  color: var(--text-color);
}

.featureText h3 {
  font-size: 1.8rem;
}

@media screen and (max-width: 1200px) {
  .featureImg img {
    width: calc(50vw);
    height: 100%;
  }

  .stat {
    width: 200px;
  }
}

@media screen and (max-width: 992px) {
  .heroContent p {
    width: 100%;
  }

  .featureRow {
    max-height: none;
  }

  .featureRow:nth-child(odd) {
    flex-direction: column;
  }

  .featureRow:nth-child(even) {
    flex-direction: column;
  }

  .featureImg {
    margin: 25px auto 20px auto;
  }

  .featureRow img {
    max-height: 400px;
    width: 100%;
  }

  .featureText {
    max-width: 100%;
  }

  .featureText h3,
  .featureText p {
    text-align: center;
  }

  .stat {
    width: calc(50% - 20px);
  }

  .stat header svg {
    height: 60px;
  }

  .statName {
    font-size: 1.2rem;
  }

  .countNumber {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .heroContent h2 {
    font-size: 3rem;
  }

  .heroContent p {
    font-size: 1.1rem;
  }

  .voteDescription {
    display: none;
  }

  .stat header svg {
    height: 50px;
  }

  .statName {
    font-size: 1rem;
  }

  .countNumber {
    font-size: 1.2rem;
  }
}