.categories {
    column-gap: 12px;
}

.category {
    padding: 5px 20px;
    background-color: var(--color-background-soft);
    border-radius: 10px;
    cursor: pointer;
}

.category[data-selected="true"] {
    background-color: var(--color-selected);
    color: var(--color-text-dark);
    font-weight: bold;
}

.items {
    gap: 30px;
}

.item {
    height: 80px;
    width: 80px;
    cursor: pointer;
    background-color: var(--color-background-soft);
    border-radius: 10px;
}

.item img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item[data-selected="true"] {
    border: 3px solid var(--color-selected);
}

.itemHeader {
    gap: 12px;
}

.itemCard {
    min-width: 450px;
    background-color: var(--color-background-blur);
    border-radius: 10px;
    padding: 25px 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    backdrop-filter: blur(20px);
}

.itemCard code {
    color: var(--color-text);
    background-color: var(--color-background-soft);
    padding: 5px 10px;
    border-radius: 5px;
}

.itemCard .description {
    border-left: 4px solid var(--color-selected);
}

.itemCard .imgGlow {
    filter: drop-shadow(0 0 10px var(--color-background-blur));
}

.searchInput {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-text);
}

.searchInputContainer {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-background-soft);
}

@media screen and (max-width: 992px) {
    .items {
        flex-direction: column-reverse;
    }

    .itemCard {
        width: 100%;
        position: inherit;
        margin-bottom: 15px;
    }

    .selectMenu {
        flex-direction: column;
    }

    .searchInputContainer {
        width: 100%;
        margin-top: 15px;
    }

    .itemHeader {
        gap: 8px;
    }
}

@media screen and (max-width: 768px) {
    .item {
        height: 66px;
        width: 66px;
    }

    .item img {
        width: 48px;
        height: 48px;
    }
}