.borderUnder {
    border-bottom: 1px solid rgba(245, 245, 245, 0.2);
}

.navbarHeader {
    z-index: 1;
    height: 50px;
}

.navbarBrand {
    font-family: "Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-right: 20px;
}

.navItem {
    margin: auto 0;
}

.navbarLink {
    margin: auto 10px;
    font-size: 1rem;
}

.navbarLink,
.navbarLink:hover,
.navbarLink:active,
.navbarLink:focus,
.navbarBrand,
.navbarBrand:hover,
.navbarBrand:active,
.navbarBrand:focus,
.dropdownToggle::after,
.profileSpan {
    color: var(--text-color);
}

.navLogo {
    margin-right: 5px;
}

@media screen and (max-width: 992px) {
    .unimportantContent {
        display: none;
    }
}