.borderUnder {
    border-bottom: 1px solid rgba(245, 245, 245, 0.2);
}

.navbarHeader {
    z-index: 999;
    height: 50px;
}

.navbarBrand {
    font-family: "Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-right: 20px;
}

.navItem {
    margin: auto 0;
}

.navbarLink {
    margin: auto 10px;
    font-size: 1rem;
}

.navbarLink,
.navbarLink:hover,
.navbarLink:active,
.navbarLink:focus,
.navbarBrand,
.navbarBrand:hover,
.navbarBrand:active,
.navbarBrand:focus,
.dropdownToggle::after,
.profileSpan {
    color: var(--text-color);
}

.navLogo {
    margin-right: 5px;
}

.navbarToggler {
    color: white;
    border: none;
}

.navbarToggler span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.87)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.offCanvas {
    background: var(--bg-color);
}

.offCanvas h5 {
    color: var(--text-color);
    font-size: 2rem;
}

@media screen and (max-width: 992px) {
    .unimportantContent {
        display: none;
    }
}