.statistic h3,
.statistic p {
    margin: 0;
    padding: 0;
}

.statistic p {
    color: var(--color-text-soft);
}

.icon {
    color: var(--color-selected);
    font-size: 70px;
}

@media screen and (max-width: 768px) {
    .icon {
        height: 30px ;
    }

    .statText h3 {
        font-size: 1.2rem;
    }

    .statText p {
        font-size: 0.8rem;
    }
}