#storePage h1,
#storePage h2,
#storePage h3,
#storePage h4,
#storePage h6,
#storePage p,
#storePage li {
    color: var(--text-color);
}

.pricing h6 {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.pageTitle {
    margin-top: 50px;
}

.shoppingCart {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
}

.shoppingCart svg {
    margin-right: 10px;
    height: 1rem;
}

.sectionTitle {
    margin-top: 70px;
}

.sectionDescription {
    margin-bottom: 40px;
}

.sectionBanned {
    gap: 25px;
    margin: 100px 0;
}

.sectionBanned svg {
    height: 100px;
}

#cards,
#lootboxes {
    gap: 8px;
    width: 100%;
}

#cards:hover>.rowCard::after,
#cards .rowCard:hover::before {
    opacity: 1;
}

#cards .rowCard .btn,
#lootboxes .lootboxCard .btn {
    color: var(--white);
    outline: none;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

#cards .rowCard {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    width: calc(33% - 8px);
    position: relative;
    margin-bottom: 25px;
}

#cards .rowCard::before,
#cards .rowCard::after {
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;
    cursor: pointer;
}

#cards .rowCard::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(245, 245, 245, 0.05),
            transparent 40%);
    z-index: 3;
}

#cards .rowCard::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.2),
            transparent 40%);
    z-index: 1;
}

#cards .rowCard>.cardContent {
    background-color: var(--card-color);
    border-radius: inherit;
    margin: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    padding: 40px 30px 25px 30px;
    z-index: 2;
    position: relative;
}

#cards header,
#lootboxes header,
.middleCard {
    margin-bottom: 25px;
}

#lootboxes {
    margin-bottom: 75px;
}

#lootboxes .lootboxCard {
    background-color: var(--card-color);
    padding: 40px 30px 25px 30px;
    border-radius: 25px;
    width: calc(33% - 8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#lootboxes .lootboxCard .cardContent {
    height: 100%;
}

#lootboxes .btn,
#lootboxes .btn button {
    width: 100%;
}

#lootboxes button svg {
    margin-right: 10px;
    height: 0.9rem;
}

#lootboxes ul {
    margin-left: 20px;
}

#lootboxes li img {
    margin-right: 5px;
}

#lootboxes li svg {
    height: 5px;
}

#tickets {
    background-color: var(--card-color);
    padding: 25px 30px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#tickets .ticketOptions {
    gap: 30px;
}

#tickets .ticketOptions .ticketOption {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

@media screen and (max-width: 1200px) {
    #cards .rowCard {
        width: 100%;
        gap: 25px;
    }
}

@media screen and (max-width: 992px) {
    #tickets .ticketText p {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #tickets {
        flex-direction: column;
    }

    #tickets .ticketText h1 {
        display: none;
    }

    #lootboxes {
        gap: 25px;
    }

    #lootboxes .lootboxCard {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #tickets .ticketOptions {
        gap: 10px;
    }
}